<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mvc.mapper.PostMapper">

    <insert id="insertPost" parameterType="mvc.domain.Post"  flushCache="true" useGeneratedKeys="true" keyColumn="post_no">
        insert into t_post(post_title, content, poster) values(#{postTitle}, #{content}, #{poster})
    </insert>

    <delete id="deletePost" parameterType="int" flushCache="true">
        delete from t_post where post_no = #{postNo}
    </delete>

    <delete id="deleteAllPosts">
        delete from t_post
    </delete>

    <update id="updatePost" parameterType="mvc.domain.Post">
        update t_post set post_title = #{postTitle}, content = #{content}, poster = #{poster}, modify_date = now() where post_no = #{postNo}
    </update>

    <select id="selectPost" parameterType="int" resultType="mvc.domain.Post">
        select * from t_post where post_no = #{postNo}
    </select>

    <select id="selectAllPosts" resultType="mvc.domain.Post">
        select * from t_Post
    </select>
    
    <select id="selectPagedPosts" parameterType="int" resultType="mvc.domain.Post">
        SELECT * from t_Post ORDER BY post_no DESC LIMIT 10 OFFSET #{offset}
    </select>

    <select id="selectCriteria" parameterType="mvc.domain.Criteria" resultType="mvc.domain.Post">
        SELECT * FROM t_post where post_no > 0 ORDER BY post_no DESC, post_date DESC LIMIT #{perPageNum} OFFSET #{pageStart}
    </select>

    <select id="selectCountPaging" resultType="int">
        SELECT COUNT(post_no) FROM t_post where post_no > 0
    </select>
</mapper>